<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <title>{{pageTitle}}</title>
        {{> head_style}}
    </head>
    <body>
        {{> header}} - about8
        <p>Some textson here!</p>
        {{> footer}}
    </body>
</html>