<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <title>{{pageTitle}}</title>
        {{> head_style}}
    </head>
    <body>
        {{> header}} - Projects Page!
        <p>Projects portfolio here!!</p>
        {{> footer}}
    </body>
</html>